<!DOCTYPE html>
<html>
<head>
    <title>Innovakids Inventario</title>
</head>

<body>

<h1>Sistema de Inventario Innovakids</h1>

<nav>
    <a href="/">Inicio</a> |
    <a href="/contactos">Contactos</a> |
    <a href="/productos">Productos</a> |
    <a href="/agregar">Agregar Producto</a> |
    <a href="/datos">Datos Guardados</a>
</nav>

<hr>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>

